/* The code below centers the text of all h1's on the page. */
body {
    background-image: url("https://t3.ftcdn.net/jpg/01/04/61/96/360_F_104619688_UP27I7cxkZKuNZn9GxCLCj0TztesAyMV.jpg");
    background-attachment: fixed;
} 

h1 {
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    position: relative;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
  position: relative;
  size: 800px;
  
}
.pic {
    width: 800px;
    border: 10px solid black;
    border-radius: 10px;
}
/* The code below centers the text of all h2's on the page. */
h2 {
    color: whitesmoke;
    text-align:center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: auto;
    position: relative;
    
}
h4{
    text-align:center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: auto;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: whitesmoke;
    position: relative;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

table, th, td {
    margin: 70px;
    padding: 20px;
    border: 5px solid black;
    border-collapse: collapse;
    position: relative;
    font-size: 30px;
    border-radius: 10px;

}
table, th, td {
    background-color: rgb(115, 182, 227);
    text-align: center;
    position: relative;
    border-radius: 10px;
}
table {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
}

ul { 
    margin: 0; 
    padding: 0; 
} 
li { 
    float: left; 
    margin: 0; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 30px; 
    width: 12%; 
    list-style: none; 
    text-align: center; 
} 
a { 
    color: black; 
    text-decoration: none; 
    font-size: 30px;
    margin-top: 5px;
} 

#blankSpace { 
    width: 16%; 
    height: 34px; 
}
.menu {
    background-color: rgb(115, 182, 227);
    margin-top: 16px;
    border-radius: 10px;
}

button:hover {
    background-color: blue;
}

button {
    background-color: rgb(115, 182, 227);
    border: 0px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 5px;
}

.moreInfo {
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
}

table {
    margin-bottom: 10px;
}